[GLOBAL]

output_dir = Output
input_dir = Input

movies_file = Movies
actors_file = Actors
tvshows_file = TvShows
test_file = CodeAssignmentDataSet.json

nb_output_file = NaiveBayesResults
svm_output_file = SVMResults

tfidf_related_output = RelatedVideoTfIDf
jaccard_related_output = RelatedVideoJaccard

[QUERY]
getFilmsQuery = SELECT ?movie WHERE { ?movie a dbpedia-owl:Film}
getTvShowsQuery = SELECT ?tvshow WHERE { ?tvshow a dbpedia-owl:TelevisionShow}
getActorsQuery = SELECT ?movie ?actor WHERE {?movie a dbpedia-owl:Film; dbpedia-owl:starring ?actor}   

